@media screen and (max-width: 875px) {
  div.body {
    /* prevent horizontal overflowing on mobile */
    min-width: inherit;
  }
}

p.logo {
  text-align: left;
}
img.logo {
  height: 66px;
  margin-bottom: 20px;
}

img.border {
  border: 1px solid #888;
  border-radius: 5px;
}

div#searchbox,
div.sphinxsidebar h3.donation {
  margin-top: 20px;
}

div.body {
  /* margin here is same as height + margin of logo */
  margin-top: 86px;
}

div.footer-body {
  /* hack for the "edit on github" container below the body */
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

li.toctree-l1 {
  margin-top: 1em;
}

/* Add a strike-through class. */
.strike {
  text-decoration: line-through;
}

div.note {
  background-color: #ffc;
}
div.admonition {
  /* reduce default padding a bit because it's asymmetrical and ugly */
  padding: 5px;
}
div.admonition p.admonition-title {
  font-size: inherit;
  font-weight: bold;
}
p.admonition-title:after {
  content: none;
}

/* Override Alabaster theme defaults to add space between list items. */
li > p:last-child {
  margin-bottom: 1em;
}
li:last-child > p:last-child {
  margin-bottom: 0;
}

/* Overrides for built in contents directive */
div.contents {
  margin: inherit;
  padding: inherit;
  background-color: inherit;
  border: inherit;
}
div.contents li > p:last-child {
  margin-bottom: inherit;
}
